services:
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_NODE_ID: 1
      KAFKA_CLUSTER_ID: "ae0c8d8a-69da-40e1-b416-569a54ceb40b"

      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"

      KAFKA_LISTENERS: "INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:29092,EXTERNAL://localhost:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"

      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS: 1

      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"

    networks:
      - broker-kafka

  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    container_name: kafdrop
    depends_on:
      - kafka
    ports:
      - "19000:9000"
    environment:
      KAFKA_BROKERCONNECT: kafka:29092
    networks:
      - broker-kafka


  kafka-exporter:
    image: danielqsj/kafka-exporter
    container_name: kafka-exporter
    command: [ "--kafka.server=kafka:9092" ]
    ports:
      - 9308:9308
    networks:
      - broker-kafka

  kafka-producer:
    image: xyymenes/kafka-producer:latest
    container_name: kafka-producer
    networks:
      - broker-kafka
    depends_on:
      - kafka
    environment:
      KAFKA_HOST: kafka:29092
      PORT: 8000
    ports:
      - "8000:8000"

  kafka-consumer:
    image: xyymenes/kafka-consumer:latest
    container_name: kafka-consumer
    networks:
      - broker-kafka
    depends_on:
      - kafka
    environment:
      KAFKA_HOST: kafka:29092

networks:
  broker-kafka:
    driver: bridge
