server:
  port: ${PORT:8000}
spring:
  application:
    name: app-payment-producer
  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost:9092}

logging:
  level:
    org:
      apache:
        kafka: INFO